<% include partials/header %>

  <h1>Welcome to Reddit</h1>

  <a href="/new">Create a new post</a>
  <a href="/register">Sign Up</a>
  <a href="/login">Login</a>
  <a href="/users">View Users</a>

  <% posts.forEach(function(post){ %>
    <div>
      <h3>
        <a href="/posts/<%= post._id %>"><%= post.title %></a>
      </h3>
      <p>
        <%= post.text %>
      </p>
      <span>
        Posted by <i><%= post.user.username %></i>
      </span>
     
      <a href="/">Edit Post</a>
    </div>
    <% }) %>



      <% include partials/footer %>